/* Small Screen */
.container {
    background-color: #06D6A0;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  
  .navbar__brand {
    font-size: 2rem;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 40px;
  }
  
  .navbar__list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
  }
  .navbar__link {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar__item {
    margin-bottom: 1rem;
    text-decoration: none;
  }
  
  /* Medium Screen */
  @media (min-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;
    }
  
    .navbar__brand {
      margin-bottom: 0;
    }
  
    .navbar__list {
      flex-direction: row;
      text-decoration: none;
    }
    .navbar__link {
      text-decoration: none;
      color: #fff;
    }
  
    .navbar__item {
      margin: 0 1rem;
      text-decoration: none;
    }
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    /* 
     * Nothing TODO HERE.
     * We haven't styling Navbar.
     */
     .navbar__item {
      margin: 0 1rem;
      text-decoration: none;
    }
    .navbar__list {
      flex-direction: row;
      text-decoration: none;
    }
    .navbar__link {
      text-decoration: none;
      color: #fff;
    }
  }